/TODO.md

.vitest-reports

# generated preload.js file for karma electron tests
karma-electron-preload.js

# webpack bundles for karma browser tests
test-karma-webpack

# plebbit-js database files
.plebbit
.plebbit/

# build folder 
dist/
/dist/
dist
coverage/
.nyc_output/
**/coverage-final.json
**/coverage-summary.json

node_modules/
packages/*/dist/
packages/example/.next/
.env.local
yarn-error.log
.env

# agent files
.cursor
.codex

# generated browser test screenshots
test/**/__screenshots__/

# macOS specific files
.DS_Store
